@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: @apply text-slate-50;
  --background: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #
  }
} */

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body.modal--open {
  overflow-y: hidden;
}

body.no-scroll {
  overflow: hidden !important;
  overscroll-behavior: contain;
}

* {
  box-sizing: border-box;
}

.line-break {
  white-space: pre-wrap;
}

/* Add a custom scrollbar to the HTML document */
.horizontal-scroll::-webkit-scrollbar {
  height: 4px;
}

/* Track (the background) */
.horizontal-scroll::-webkit-scrollbar-track {
  background: #fff; /* Background color of the scrollbar track */
}

/* Handle (the draggable part) */
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #fca5a5;
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

/* On hover, the thumb will be darker */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-strokewidth: 1px;
  -webkit-text-stroke-color: #d1d5db;
}