/* @keyframes automaticHover {
  0% {
    transform: translate(0, 0);
    scale: 0.5;
  }
  5% {
    transform: translate(1.5rem, 1.5rem);
    scale: 1;
  }
  95% {
    transform: translate(1.5rem, 1.5rem);
    scale: 1;
  }
  100% {
    transform: translate(0, 0);
    scale: 0.5;
  }
}

.automaticHover {
  animation: automaticHover 2s infinite;
}

.automaticHover:hover {
  animation-play-state: paused;
  transform: translate(1.5rem, 1.5rem);
  scale: 1;
} */
