.donut {
  text-align: center;
  margin-inline: auto;
}

.donut__circle {
  fill: none;
}

.donut__circle--back {
  stroke: #a3a3a3;
  stroke-opacity: 15%;
  stroke-width: 10px;
}

.donut__circle--front {
  transform: rotate(270deg);
  stroke: #ff928b;
  stroke-width: 10px;

  /* 2 * Math.PI * radius + 1  */
  stroke-dasharray: 629px;
  stroke-dashoffset: 629px;
}

.isPlaying {
  animation: loading 2.15s linear;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -629px;
  }
}
