@keyframes menuTextPopOut {
  0% {
    transform: translate(-10px, 40px) rotate(-65deg);
  }
  30%,
  80% {
    transform: translate(-20px, 10px) rotate(-30deg);
  }
  100% {
    transform: translate(-10px, 40px) rotate(-65deg);
  }
}

@keyframes menuTextHover {
  0%,
  100% {
    transform: translate(-20px, 10px) rotate(-30deg);
  }
}

.menuButton .menuText {
  animation: menuTextPopOut 2s ease-in infinite;
}

.menuButton:hover .menuText {
  animation: menuTextHover 0.3s ease-in forwards;
}
